<p style="color: green"><%= notice %></p>

<%= render @issue_type %>

<div>
  <%= link_to "Edit this issue type", edit_issue_type_path(@issue_type) %> |
  <%= link_to "Back to issue types", issue_types_path %>

  <%= button_to "Destroy this issue type", @issue_type, method: :delete %>
</div>
