<p style="color: green"><%= notice %></p>

<%= render @severity %>

<div>
  <%= link_to "Edit this severity", edit_severity_path(@severity) %> |
  <%= link_to "Back to severities", severities_path %>

  <%= button_to "Destroy this severity", @severity, method: :delete %>
</div>
