<!DOCTYPE html>
<html>
  <head>
    <title>AswTaigaProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "user_menu_taiga", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "user_profile", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="top-navbar">
    <%= render "shared/user_menu" %>
    </div>
    <body>
    <%# --- MENSAJES --- %>
    <% if notice %>
      <div style="background-color: #d4edda; color: #155724; padding: 10px 20px; text-align: center; border-bottom: 1px solid #c3e6cb; font-size: 14px;">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div style="background-color: #f8d7da; color: #721c24; padding: 10px 20px; text-align: center; border-bottom: 1px solid #f5c6cb; font-size: 14px; font-weight: bold;">
        <%= alert %>
      </div>
    <% end %>
    <%# --- FIN MENSAJES --- %>

    <%= yield %>
  </body>
    <%= yield %>
  </body>
</html>
